﻿<div class="jumbotron">
    <div class="container">
        <h2> GOTO takes you where you want to be.</h2>
        <div class="container">
            <div class="btn-group">
                <button type="button" class="btn btn-default active"> One Way <span class="glyphicon glyphicon-arrow-right"> </span></button>
                <button type="button" class="btn btn-default"> Return <span class="glyphicon glyphicon-transfer"> </span></button>
                <button type="button" class="btn btn-default"> Custom <span class="glyphicon glyphicon-tag"> </span></button>
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#settingsModal"> Options <i class="fa fa-sliders"></i></button>
            </div>
        </div>

        <form class="navbar-form" role="form" ng-submit="submitSearch()">
            <div class="form-group">
                <select class="form-control" ng-model="startStation" required>
                    <option value="">FROM Station</option>
                    <option ng-repeat="station in stations" value="{{station.name}}">{{station.name}}</option>
                </select>
            </div>
            <div class="form-group">
                <select class="form-control" ng-model="endStation" required>
                    <option value="">TO Station</option>
                    <option ng-repeat="station in stations" value="{{station.name}}">{{station.name}}</option>
                </select>
            </div>
            <span><i class="fa fa-clock-o"></i></span>
            <!--<span class="glyphicon glyphicon-calendar" id="calendar"></span>-->
            <input name="input" type="time" class="form-control" step="1" ng-model="selectedTime" required />
            <input type="submit" class="btn btn-success" value="Take me" />
        </form>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>Tram</h2>
            <p>First horse drawn tram line in Europe started in Sarajevo. It still runs, more or less at the same speed, to this day. Trams are odd mixture of pre-war Checoslovakian  survivors and eclectic mix of donated streetcars from all over the Europe </p>
            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Bus</h2>
            <p>Buses run all over the city. They come in two flawors, regular bus and minibus. Minibus is to a bus what a donkey is to a horse. Smaller species that can clime steep hils and navigate narrow streets of Sarajevo old town </p>
            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>

        <div class="col-md-4">
            <h2>Taxi</h2>
            <p>Taxis are ominipresent affordable. Cars and drivers are incossistent, it's a lottery you might end up in 20+ year old bitten up Golf 2 or in brand new Passat. Price is still the same 1.50 km start then 1km per 1km. Konvertible Mark per Kilo Meter </p>
            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
    </div>
</div>

<!-- Modal -->
<div id="settingsModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Options</h4>
            </div>
            <div class="modal-body">
                <h4>Sort results by:</h4>
                <div class="radio">
                    <label><input type="radio" ng-model="sortOption" value="waiting">Waiting Time</label>
                </div>
                <div class="radio">
                    <label><input type="radio" ng-model="sortOption" value="duration">Duration</label>
                </div>
                <div class="radio">
                    <label><input type="radio" ng-model="sortOption" value="cost">Cost</label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>