﻿<div class="container-fluid" style="margin-top:40px">
    <h3 class="text-center">Results: {{departure}} <i class="fa fa-long-arrow-right"></i> {{arrival}}</h3>
    <div ng-show="isSearching" class="text-center"><h3><i class="fa fa-spinner fa-spin"></i>  Searching...</h3></div>
    <!--<div ng-repeat="tree in treeObjects" id="tree{{$index}}"></div>-->

    <div>
        <div id="tree0" class="tree"></div>
    </div>
    <div>
        <div id="tree1" class="tree"></div>
    </div>
    <div>
        <div id="tree2" class="tree"></div>
    </div>
    <div>
        <div id="tree3" class="tree"></div>
    </div>
    <div>
        <div id="tree4" class="tree"></div>
    </div>
    <div>
        <div id="tree5" class="tree"></div>
    </div>

    <!--<div id="tree0"></div>
    <div id="tree1"></div>-->
</div>
