﻿body{
    padding-bottom: 70px;
}
.panel-body{
    padding:5px 25px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:0;
    text-align:center;
}
.panel-primary{
    width:250px;
}

.panel-heading{
    margin:0;
    padding:5px;
}

hr{
    color:#212020;
}

#main{
    margin:0 0 0 0;
    padding:0;
}
.navbar-fixed-bottom{
    background-color:#333;
    min-height: 20px;
    height:30px;
}
.navbar-static-top{
    margin:0;
    color:#cccccc;
}
.routeInfo{
    border-right:2px solid;
    margin:0 4px;
    padding-right: 8px;
    display:inline-block;
}
#footerContainer p{
   margin:4px 0 0 0 ;
   color:#8d8d8d;
}

#footerContainer.container{
   padding:0;
}

.tree{
    margin: 20px auto 5px auto;
    width:95%;
    font-size:16px;
}

.treeViewBadge {
    display:inline-block;
    right:0;
    position:absolute;
    margin-right: 10px;
}

.treeViewStation{
    padding-left:18px; 
    margin-top:-18px;
}

.tree .list-group-item{
    padding-right:50px;
}


