﻿<!DOCTYPE html>
<html ng-app="goToApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GoTo</title>

    <!--CSS-->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-treeview/dist/bootstrap-treeview.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="~/css/site.css" />

</head>
<body ng-controller="homeController">
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container-fluid">
            <ul class="nav navbar-nav navbar-left">
                <li>
                    <a class="navbar-brand" href="#/">GoTo {{timeValue}}</a>
                </li>
            </ul>
        </div>
    </nav>

    <div id="main" class="container-fluid">
        <div ng-view></div>
    </div>

    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container" id="footerContainer">
            <p class="navbar-right">&copy; GoTo 2016</p>
        </div>
    </nav>

    <!--Scripts-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/angular/angular.min.js"></script>
    <script src="~/lib/angular-route/angular-route.min.js"></script>
    <script src="~/js/angularApp.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="lib/bootstrap-treeview/src/js/bootstrap-treeview.js"></script>

</body>
</html>
